<template name="InlineEditor">
  {{#if editMode}}
      <div class="inlineEditor_form">
         {{> UI.elseBlock}}
      </div>
  {{else}}
    <div class="inlineEditor_value">
      {{> UI.contentBlock}}
    </div>
  {{/if}}

</template>